body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

.nav {
  width: 100%;
  margin-top: -40px;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
  padding-top: 20px;
}

.nav div.logo h1 {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
}

.nav div.logo h1:hover {
  color: #00E676;
}

.nav div.main_list {
  height: 65px;
  float: right;
  padding-top: 20px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}

/* .nav div.main_list ul li  {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
} */

.nav div.main_list ul li:hover {
  color: #00E676;
}


/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-position: center top;
  background-size: cover;
}



.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;

  }
}

@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }

  .nav div.main_list ul li {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }

  .nav div.media_button {
    display: block;
  }
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.event-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 12px;
  justify-content: space-around;


}

.event-card img {
  max-width: 100%;
  height: auto;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 400px;
  margin: 1rem;
}

.event-type {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.event-card h4 {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.event-card h4:hover {
  color: #fbb72c;
}

.event-card p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.event-bottom-card {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.event-bottom-card div {
  float: left;
  width: 50%;
}



.event-details img {

  width: 700px;
  max-height: 50%;
  margin: 30px 280px 30px 20px;
  float: left;
}


.event-details {
  height: 75%;
  display: inline-flex;
  margin-top: 110px;
  margin-left: 300px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid blue;
  padding: 0px 40px 40px;
  max-width: 1000px;
}

.organizer {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.type {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;

}

.event-details h4 {
  font-weight: 500;
  display: inline;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.event-details h4:hover {
  color: #fbb72c;
}

.event-details p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
  display: inline;
}

.button {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.button div {
  float: left;
  width: 50%;
}



.full-screen {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-position: center top;
  background-size: cover;
}

.containerSignIn {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.login {
  background-color: rgb(4, 4, 29);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40%;
  width: 100%;
}

.login button {
  color: black;
  font-size: larger;
}

.signIn {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.signUp {
  background-color: #cee5f2;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40%;
  width: 100%;
}

.signUpHeader {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: #00E676;
}